body{
	background-image:url("photo/pic2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	 background-attachment: fixed;
	background-position: ;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
}


li a:hover:not(.active) {
  color: #909497;
}

li img:hover {
      box-shadow: 0 0 10px #909497;
	  opacity: 0.4;
}



li img{
	height:25px;
	width:25px;
	padding:5px;
}


.img{
	float:left;
	
}

.text {
	color: white;
	font-family: 'Trocchi', serif;
	font-size: 100px; 
	line-height: 50px;
	font-weight: normal; 
	margin-bottom: 0px;
	margin-top: 90px;
	text-align: center;
	text-shadow: 0 1px px #fff;
}

.sub-text {
	color: white;
	font-family: Lucida Handwriting, cursive;
	font-size: 30px; 
	line-height: 95px;
	font-weight: normal; 
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: center;
	text-shadow: 0 1px px #fff;	
}

div form {
	text-align: center;
}

div form input{
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	height: 50px;
	margin:15px;
	border-radius: 8px;
	border:0px;	
}

div form select{
	font-size: 15px;
	color: grey;
	font-weight: bold;
	text-align: center;
	height: 50px;
	margin:15px;
	border-radius: 8px;
	border:0px;
}

div button{
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	height: 80px;
	width: 300px;
	border: 0px;
	background-color: #FF5974;
	color: white;
	border-radius: 12px;
	opacity: 0.8;
}
div button:hover{
	color: #909497;
	  box-shadow: 0 12px 16px 0 #909497,0 17px 50px 0 rgba(0,0,0,0.19);
}



@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
